body {
	font-family: "Sono", sans-serif;
}

/* Large div containing whole screen */
.pricing-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

/* 3x smaller tiles with gray background plans */
.pricing-plan {
	flex: 1;
	padding: 5px;
	border-radius: 10px;
	background-color: #a8dadc;
}

/* Title Text and Price of Plans */
.plan-title {
	font-weight: bold;
	text-align: center;
}
.plan-price {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

/* button on the bottom of each plan */
.plan-button {
	box-shadow: 0px 0px 10px rgba(1, 0, 0, 0.16);
	border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.25rem;
}

/* The boxes with checkmarks - each one has three */
.plan-features {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	gap: 0.5rem;
	list-style: none;
}

/* Smaller Screens */
@media (max-width: 1250px) {
	body {
		background-color: rgb(213, 173, 173);
	}
	.pricing-container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	.pricing-plan {
		width: 300px;
	}
}
